*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}

.game-name {
    text-align:center;
}

p{
    text-align: center;
}


.punteggio {
    width:60vw;
    max-width:800px;
}

.player {
    display:flex;
    flex-direction:row;
}
.punti {
    display:flex;
    flex-direction:row;
}



.game-area{
    height: 50vh;
    width: 50vh;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}


.grid{
    height: 100%;
    width: 100%;
    
    display: flex;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: space-between;   

}

.cell{
    height: 30%;
    width: 30%;
    border: thick solid #ffffff;
    margin-top: 10px;

    cursor: pointer;
    
    font-size: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
}