:root{
    --cell-size: 30%;
}

*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}

.game-name {
    text-align:center;
}

p{
    text-align: center;
}

.game-area{
    top: 20%;
    bottom:80%;
    display:flex;
    align-items:center;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}


.grid{
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.cell{
    height: var(--cell-size);
    width: var(--cell-size);
    border: 4pt solid #ffffff;
    margin: 1%;

    cursor: pointer;
    
    font-size: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
}