:root{
    /* Qui posso dichiarare delle variabili che funzionano per tutti i selettori */
}

*{
    /*Questo invece è un selettore universale*/
}


.gold {
    color: gold;
    font-size: 25px;
}

div {
    background-color: black;
}

div{
    width: calc(100% / 3);  /* 33% non è preciso, calc è una funzione in css */
}

